<li class="comments-list-item list-group-item">

  <div class="row">

    <div class="thumbnail-and-date col-md-2 col-sm-2">
      <img class="img-thumbnail" src="../../../assets/images/user-avatar.png" alt="author image"/>
      <time [attr.datetime]="commentDate">{{commentDate | date}}</time>
    </div>

    <div class="col author-and-content col-md-10 col-sm-10">
      <img class="comment-arrow" src="../../../assets/images/arrow-comment.png" alt="comment arrow">
      <h3 class="comment-author"><span class="author-name">{{commentAuthor}}</span> says: </h3>
      <p class="comment-content">
        <ng-content></ng-content>
      </p>
      <button class="btn-search-comments">Search</button>
    </div>

  </div> <!--row-->

</li>
