<app-title></app-title>
<app-subheader></app-subheader>

<section class="container-content-menu container">

  <div class="row">

    <div class="menu-appetizers col-md-4">
      <h3 class="menu-title">Appetizers</h3>
      <ul class="menu-list list-group">
        <li class="menu-item list-group-item">
          <div class="price-tag"><span class="price">{{price}}</span></div>
          <img class="food-image img-thumbnail pull-left" src="../../assets/images/food-placeholder-1.jpeg" alt="food"/>
          <h5>{{name}}</h5>
          <p>{{description}}</p>
        </li>
        <li class="menu-item list-group-item">
          <div class="price-tag"><span class="price">{{price}}</span></div>
          <img class="food-image img-thumbnail pull-left" src="../../assets/images/food-placeholder-2.jpeg" alt="food"/>
          <h5>{{name}}</h5>
          <p>{{description}}</p>
        </li>
        <li class="menu-item list-group-item">
          <div class="price-tag"><span class="price">{{price}}</span></div>
          <img class="food-image img-thumbnail pull-left" src="../../assets/images/food-placeholder-3.jpeg" alt="food"/>
          <h5>{{name}}</h5>
          <p>{{description}}</p>
        </li>
      </ul>
    </div>

    <div class="menu-main-courses col-md-4">
      <h3 class="menu-title">Main courses</h3>
      <ul class="menu-list list-group">
        <li class="menu-item list-group-item">
          <div class="price-tag"><span class="price">{{price}}</span></div>
          <img class="food-image img-thumbnail pull-left" src="../../assets/images/food-placeholder-1.jpeg" alt="food"/>
          <h5>{{name}}</h5>
          <p>{{description}}</p>
        </li>
        <li class="menu-item list-group-item">
          <div class="price-tag"><span class="price">{{price}}</span></div>
          <img class="food-image img-thumbnail pull-left" src="../../assets/images/food-placeholder-2.jpeg" alt="food"/>
          <h5>{{name}}</h5>
          <p>{{description}}</p>
        </li>
        <li class="menu-item list-group-item">
          <div class="price-tag"><span class="price">{{price}}</span></div>
          <img class="food-image img-thumbnail pull-left" src="../../assets/images/food-placeholder-3.jpeg" alt="food"/>
          <h5>{{name}}</h5>
          <p>{{description}}</p>
        </li>
      </ul>
    </div>

    <div class="menu-desserts col-md-4">
      <h3 class="menu-title">Desserts</h3>
      <ul class="menu-list list-group">
        <li class="menu-item list-group-item">
          <div class="price-tag"><span class="price">{{price}}</span></div>
          <img class="food-image img-thumbnail pull-left" src="../../assets/images/food-placeholder-3.jpeg" alt="food"/>
          <h5>{{name}}</h5>
          <p>{{description}}</p>
        </li>

        <li class="menu-item list-group-item">
          <div class="price-tag"><span class="price">{{price}}</span></div>
          <img class="food-image img-thumbnail pull-left" src="../../assets/images/food-placeholder-2.jpeg" alt="food"/>
          <h5>{{name}}</h5>
          <p>{{description}}</p>
        </li>

      </ul>
    </div>

  </div> <!--row-->

</section>
