<app-title [title]="post?.title" [subTitle]="post?.author"></app-title>
<app-subheader [navItemTop]="'Posts'"
               [navItemMiddle]="category ? (category | capitalize) : 'Category'"
               [navItemBottom]="post?.title ? (post?.title | truncate:[15, '...']) : 'Post'"
               [activePosition]="2"
               [searchPlaceholder]="'Search posts...'"></app-subheader>

<section class="container-posts container-fluid">
  <div class="row">
    <div *ngIf="!post" #unavailable class="post-unavailable">Post is unavailable, sorry</div>
    <div *ngIf="post" class="post col-md-9 col-sm-9">
      <div class="container-post">
        <div class="post-img pull-left">
          <img class="img-thumbnail img-responsive" src="../../../assets/images/post-placeholder.jpeg"
               alt="post image"/>
        </div>
        <p class="post-content">{{post?.content}}</p>
      </div>

      <div class="container-comments">
        <h3 class="comments-title"><span class="comment-count">{{comments.length}}</span> comments</h3>
        <ul class="comments-list list-group">
          <app-comment *ngFor="let comment of comments"
                       [commentAuthor]="comment.author" [commentDate]="comment.date">{{comment.comment}}
          </app-comment>
        </ul>

        <h3 class="leave-a-comment">Leave a comment</h3>
        <label>
          <textarea #comment (keydown)="keyDownFunction($event, comment.value)"
                    class="textarea-comment"
                    name="textarea-comment"
                    rows="10" cols="50"
                    minlength="20"
                    spellcheck="false"></textarea>
        </label>

      </div>

    </div>

    <app-aside></app-aside>

  </div>
</section>

<simple-notifications [options]="options" (onDestroy)="destroyed($event)"></simple-notifications>
<app-loader [isLoading]="isLoading"></app-loader>
