<aside class="recent col-md-3 col-sm-3">
  <div class="recent-posts">
    <h3 class="recent-posts-title">Recent posts</h3>

    <div class="container-recent-posts">
      <ul class="recent-posts-list">
        <li class="recent-posts-item">
          <a href="#">Hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus</a>
        </li>
        <li class="recent-posts-item">
          <a href="#">Hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus</a>
        </li>
        <li class="recent-posts-item">
          <a href="#">Hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus</a>
        </li>
        <li class="recent-posts-item">
          <a href="#">Hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus</a>
        </li>
      </ul>
    </div>
  </div>
</aside>
