<app-title [title]="'Add post'" [subTitle]="'Food | Cuisine | Lifestyle'"></app-title>
<app-subheader [navItemTop]="'Post'" [navItemMiddle]="'Add'" [activePosition]="1"></app-subheader>

<section class="container-add-post container-fluid">
  <div class="row">

    <div class="post col-md-12 col-sm-12">
      <div class="container-form-add-post">
        <form #f="ngForm" (ngSubmit)="onSubmit($event)" class="form-add-post col-md-6 col-sm-12">


          <div class="row">
            <div class="form-group col-md-6 col-sm-12" [ngClass]="{ 'has-danger': us.invalid && (us.dirty || us.touched),
        'has-success': us.valid && (us.dirty || us.touched) }">
              <label>Title</label>
              <input type="text"
                     class="form-control"
                     name="title"
                     [(ngModel)]="post.title"
                     minlength="10"
                     required
                     #us="ngModel">
            </div>

            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{selectedCategory}}
                <span class="caret"></span></button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li *ngFor="let category of categories">
                  <a (click)="setCategory(category)">
                    {{category | capitalize}}
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="form-group">
            <label>Content</label>
            <textarea rows="10" cols="50" spellcheck="false"
                   class="form-control"
                   name="content"
                   [(ngModel)]="post.content"
                   minlength="15"
                   required>
            </textarea>
          </div>

          <button type="submit" class="btn-submit" [disabled]="f.invalid">Create Post</button>
        </form>
      </div>
    </div>

    <simple-notifications [options]="options"></simple-notifications>
    <app-loader [isLoading]="isLoading"></app-loader>

  </div>
</section>
