<section class="container-subheader-bar container-fluid">
  <div class="subheader-bar">

    <ul class="subheader-list">
      <li class="top" [ngClass]="{active: activePosition === 0}">{{navItemTop}}</li>
      <li class="category" *ngIf="!middleHidden" [ngClass]="{active: activePosition === 1}">{{navItemMiddle}}</li>
      <li class="post" *ngIf="!bottomHidden" [ngClass]="{active: activePosition === 2}">{{navItemBottom}}</li>
    </ul>

    <app-search [placeholder]="searchPlaceholder"
                (onSearchQuery)="onSearchQueryResult($event)"
                [minlength]="3"
                [maxLength]="30"></app-search>

  </div>
</section>
