<app-header></app-header>
<app-title></app-title>
<app-subheader></app-subheader>
<!--<app-slider></app-slider>-->

<section class="container-content-home container">

  <div class="row">

    <div class="content-item recommendations col-md-4">
      <h3 class="recommendations-title">Chef's recommendations</h3>
      <ul class="recommendations-list list-group">

        <li class="recommendations-item list-group-item">
          <img class="food-image img-thumbnail pull-left" src="../../assets/images/food-placeholder-1.jpeg" alt="food"/>
          <h5>Recommendation</h5>
          <p>Descr</p>
        </li>

        <li class="recommendations-item list-group-item">
          <img class="food-image img-thumbnail pull-left" src="../../assets/images/food-placeholder-3.jpeg" alt="food"/>
          <h5>Recommendation</h5>
          <p>Descr</p>
        </li>


        <li class="recommendations-item list-group-item">
          <img class="food-image img-thumbnail pull-left" src="../../assets/images/food-placeholder-2.jpeg" alt="food"/>
          <h5>Recommendation</h5>
          <p>Descr</p>
        </li>
      </ul>
    </div>

    <div class="content-item location-and-hours col-md-4">
      <h3 class="location-and-hours-title">Location and hours of operation</h3>
      <img class="location-image img-thumbnail"
           src="https://maps.googleapis.com/maps/api/staticmap?center=Telerik+Academy&zoom=17&size=248x169&key=AIzaSyAoNUkQubgikLSOlKt5IeOMopLG9MLwJdM"
           alt="location"/>
      <p class="address">3214 Sunny st. Petaluma, CA 55439</p>
      <p class="work-hours"><span class="mon-fri">Mon-Fri</span>8am-6pm<span class="sat-sun">Sat-Sun</span>8am-10pm
      </p>
    </div>

    <div class="content-item testimonials col-md-4">
      <h3 class="testimonials-title">Customer testimonials</h3>

      <div class="testimonial-dialog">
        <div class="testimonial-author-img pull-left">
          <img class="img-thumbnail" src="../../assets/images/user-avatar.png" alt="author image"/>
        </div>
        <h3 class="testimonial-author">Testimonial Author</h3>
        <p class="testimonial-article">Testimonial Content
        </p>

      </div>
    </div>

  </div> <!--row-->

</section>

<app-footer></app-footer>
