<footer class="footer footer-home container-fluid">

  <button [routerLink]="['/menu']">Click Here To Browse The Menu</button>

  <img src="../../../assets/images/ornament-in-footer.png" alt="decoration">

  <nav class="footer-navbar navbar">
    <ul class="nav navbar-nav">
      <li><a [routerLink]="['/home']">Home</a></li>
      <li><a [routerLink]="['/menu']">Menu</a></li>
      <li><a [routerLink]="['/location']">Location</a></li>
      <li><a [routerLink]="['/posts']">Posts</a></li>
      <li><a [routerLink]="['/register']">Register</a></li>
      <li><a [routerLink]="['/login']">Login</a></li>
    </ul>
  </nav>

  <p [appDecorateTitle]="'#aa1288'">Designed by <strong>ElegantThemes</strong> - Powered by <strong>Angular 4</strong></p>

</footer>

