.container-login {
  min-height: 527px;
  background-color: #ebe9d0;
  width: 100%;
  padding-left: 16%;
  padding-right: 16%;
  padding-top: 43px;
}

.btn-submit {
  font-size: 16px;
  height: 38px;
  margin-top: 9px;
  padding-left: 19px;
  padding-right: 19px;
  font-family: "Georgia", sans-serif, serif;
  color: white;
  background-color: #769C5A;
  border-radius: 18px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-left-style: none;
  border-right-style: none;
  border-width: 0.8px;
}

.btn-submit:focus {
  outline: 0;
}

.form-login label {
  font-family: 'Georgia', san-serif, serif;
  font-size: 14px;
  color: rgb(68, 41, 23);
  text-transform: uppercase;
  padding: 0;
}
