<app-title [title]="'Location'"></app-title>
<app-subheader [navItemTop]="'Location'" [activePosition]="0"></app-subheader>

<!--location-->
<section class="container-location container-fluid">
  <div class="row">

    <!--company info-->
    <div class="company-info col-sm-12 col-md-4 col-lg-5">

      <div class="row">

        <section class="address col-xs-4 col-sm-4 col-md-12">
          <h3 class="address-title">Address</h3>
          <address>
            3324 Sunny Drive Street<br/>
            Some City CA, 33423
          </address>
        </section>

        <section class="hours-of-operation col-xs-4 col-sm-4 col-md-12">
          <h3 class="hours-of-operation-title">Hours of operation</h3>
          <p class="work-hours"><span class="mon-fri">Monday-Friday: </span>8am-6pm<span class="sat-sun">
              Saturday-Sunday: </span>8am-10pm
          </p>
        </section>

        <section class="contact-info col-xs-4 col-sm-4 col-md-12">
          <h3 class="contact-info-title">Contact info</h3>
          <p class="email"><span class="email-address">Email Address: </span>info@mycuisine.com<span
            class="telephone">
              Telephone: </span>754-234-6643<span class="fax">
              Fax: </span>343-664-2234
          </p>
        </section>

      </div>

    </div>

    <!--location map-->
    <aside class="map col-sm-12 col-md-8 col-lg-7">
      <img class="location-image img pull-right"
           src="https://maps.googleapis.com/maps/api/staticmap?center=Telerik+Academy&zoom=17&size=601x413&key=AIzaSyAoNUkQubgikLSOlKt5IeOMopLG9MLwJdM"
           alt="location"/>
    </aside>

  </div> <!--row-->
</section>
