<app-title [title]="'Posts'" [subTitle]="'All blog posts'"></app-title>
<app-subheader [navItemTop]="'All Posts'" [activePosition]="0" [searchPlaceholder]="'Search posts'"></app-subheader>

<button class="btn-add-post" [routerLink]="['/posts/add']">Add Post</button>

<section class="container-posts container-fluid">
  <div class="row">
    <p *ngIf="posts.length === 0" class="no-posts">No posts in this section</p>

    <div *ngFor="let post of posts" class="post col-md-4">
      <div class="container-post">
        <h5 class="post-title">{{post?.title}}</h5>
        <div class="post-sub"><span class="post-author">{{post?.author}}</span><span class="post-category">{{post?.category | toPostCategory}}</span></div>
        <div class="post-img pull-left">
          <img class="img-thumbnail img-responsive" src="../../../assets/images/post-placeholder.jpeg"
               alt="post image"/>
        </div>
        <a [routerLink]="['/posts/' + post?._id]" class="go-to-post" data-id="{{post?._id}}">
          <p class="post-content">{{post?.content}}</p>
        </a>
      </div>
    </div>

  </div>
</section>

<simple-notifications [options]="options"></simple-notifications>
<app-loader [isLoading]="isLoading"></app-loader>
